body {
  font-family: sans-serif;
  background: #121212;
  color: white;
  padding: 20px;
}
.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card {
  background: #1f1f1f;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px #333;
}
.toggle-btn {
  margin-top: 10px;
  background-color: #30363d;
  border: none;
  color: #58a6ff;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-btn:hover {
  background-color: #21262d;
}
.extra-info p {
  margin: 4px 0;
}
#searchInput {
  padding: 10px;
  width: 250px;
  border-radius: 6px;
  border: 1px solid #333;
  background: #161b22;
  color: #fff;
  margin-left: 10px;
}
.back-btn {
  display: inline-block;
  padding: 10px 16px;
  background: #30363d;
  color: #58a6ff;
  border-radius: 6px;
  text-decoration: none;
  margin-right: 10px;
}

.back-btn:hover {
  background: #21262d;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.logo {
  width: 60px;
  height: auto;
  border-radius: 8px;
}
.underline {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}


